.restaurants-container {
    margin-top: 50px;
    .title {
        font-weight: 700;
        font-size: 24px;
        color: #182135;
        margin-bottom: 30px;
    }
}
.example-container {
    width: 100%;
    height: 100vh;
    margin: 12px;
    background: white;
}

mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}