mat-sidenav {
    // margin: 16px;
    width: 304px;
    border-right: none;
    background: #F7F7F7;
    ;
    color: #626264;
    border-radius: 0px 24px 24px 0px;
    padding: 16px;
    text-align: center;
    box-shadow: none;

    .logo-container {
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 50px;

        span {
            margin-left: 10px;
        }
    }

    .menu-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        margin-bottom: 0px;
        height: 56px;

        mat-icon {
            margin-right: 24px;
        }

    }

    .active {
        background: #503E9D;
        border-radius: 12px;
        color: white;
        font-size: 16px;
    }
}
mat-sidenav-container {
    height: calc(100vh);
    background: white;
}

.order-card {
    margin-top: 35px;

    .mat-card-content {
        position: relative;

        .close-icon {
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
        }

        .clock-icon {
            padding-top: 30px;
            display: flex;
            align-items: center;
            flex-direction: column;

            div {
                width: 64px;
                height: 64px;
                border-radius: 12px;
                background: rgba(251, 109, 58, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;

                .mat-icon {
                    width: 35px;
                    height: 35px;
                    font-size: 35px;
                    color: rgba(251, 109, 58, 1);
                }
            }

            .order-status {
                padding-top: 24px;
                padding-bottom: 25px;
                font-weight: 600;
                font-size: 14px;
                color: #182135;
            }

            .order-detail {
                margin: 0 !important;
                font-weight: 400;
                font-size: 12px;
                color: #626264;
            }
        }

        .detail-button {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            height: 48px;
            position: relative;
            margin: auto;
            margin-top: 30px;

            mat-icon {
                position: absolute;
                right: 10px;
                top: 12px;
            }

        }
    }
}
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    // font-size: 2rem;
    // color: lightgray;
    box-shadow: none;
    background: #fff;
}