<div class="restaurant-item" (click)="openDetail()">
    <div class="restaurant-image">
        <img src="{{item.restaurantImage}}"/>
    </div>
    <div class="restaurant-name">
        <p>{{item.restaurantName}}</p>
        <p [style.background]="getStatus(item.openingHours) ? '#503e9d1a':'#fb6d3a1a'" [style.color]="getStatus(item.openingHours) ? '#503E9D':'#FB6D3A'">{{getStatus(item.openingHours) ? 'Open Now' : 'Closed'}}</p>
    </div>
    <div class="restaurant-detail">
        <p>{{item.restaurantDescription}}</p>
    </div>
</div>